<section class="login-content">
  <div class="logo">
    <img src="assets/logo-rm.svg" class="logotipo" />
  </div>

  <div class="form-content">
    <h1 class="title">{{ title }}</h1>

    <div class="form">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input">
          <input
            type="text"
            id="email"
            class="input-email"
            placeholder="Coloque o seu e-mail aqui"
            formControlName="email"
          />
          <label for="email" class="label-email">E-Mail</label>
        </div>

        <div class="input">
          <input
            type="password"
            id="password"
            class="input-password"
            placeholder="Coloque sua senha aqui"
            formControlName="password"
          />
          <label for="password" class="label-password">Senha</label>
        </div>

        <div class="buttons">
          <button type="submit" class="standard-login">Entrar Agora</button>

          <button class="google-login">
            <img
              class="google"
              src="assets/google-icon.svg"
              alt="google icon"
            />
            Entre com Google
          </button>

          <div class="register-now">
            <p>Ou</p>
            <a class="btn-register" href="#">Cadastre-se</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
